.title 
{
    height: 60px;
    width: 100%;
    background-color:rgb(160, 232, 167);
    color: rgb(42, 128, 43);
    text-align: center;
    line-height: 60px;
}
.bg
{
    background: linear-gradient(45deg,rgb(14, 54, 0),rgb(16, 113, 34),rgb(8, 239, 50));
    height: 100%;
    width: 100%;
}
.box
 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.image 
{
    width: 320px;
    background: linear-gradient(45deg,rgb(4, 126, 27),white);
    border: 1px solid rgb(14, 33, 20);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.image img
 {
    height: 220px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.image h2 
{
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.button1 
{
    display: flex;
    gap: 25px;
}

button 
{
    background-color: rgb(160, 232, 167);
    color:rgb(42, 128, 43);
    padding: 10px 18px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover
 {
    background-color: rgb(70, 180, 81);
}

.copyrights
 {
    background-color:  rgb(160, 232, 167);
    color: rgb(42, 128, 43);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    left: 0;
}